body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:  rgb(156, 151, 183);
    color: #eeeae2;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 20px 0;
    color: ;
    
}

h1 {
    font-size: 50px; 
    text-align: center;
    margin: 0;
    padding: 0;
    
}

hr {
    border: 0;
    height: 2px;
    background-color: #eeeae2;
    width: 100%;
    margin: 20px 0;
   
}
.hr2 {
    border: 0;
    height: 15px;
    background-color: #eeeae2;
    width: 100%;
    margin: 0px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.subtitulo, .autor {
    font-size: 16px;
    margin: 0;
    padding: 2px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.titulo {
    font-size: 28px;
    font-weight: bold;
    margin: 40px 0 10px;
    text-align: center;
    padding-left: 15px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.contenedor {
    background-color: #eeeae2;
    color: #3d3b38;
    padding: 20px;
    margin: 20px 20px;
    text-align: left; 
    border-radius: 10px;


}

.contenedor img {
    width: 100%;
    height: auto;
    max-height: 300px; 
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border-color: #3d3b38;
    border-style: groove;
    border-width: 2px;
}

.contenedor h2, .contenedor h3 {
    margin: 10px 0;
    margin-left: 0px;
}

.contenedor h2 {
    font-weight: bold;
    font-size: 20px;
}

.contenedor h3 a {
    font-weight: bold;
    font-style: italic;
    color: #3d3b38;
    text-decoration: none;
    font-size: 16px;
}

.texto-contenedor {
    margin-bottom: 40px; 
    text-align: center;
}

.texto-cursiva {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3d3b38;
    font-size: 16px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.bg-azul{
    background-color: rgb(173, 195, 209);
}
.bg-lila{
    background-color: rgb(173, 145, 175);
}
.bg-verde{
    background-color: rgb(167, 168, 207);
}
.seccion{
    padding: 10px;
    margin-top: 10px;


}
.enlace{
    background-color: #3d3b38;
    padding: 20px;
    margin: 10px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 100px;
    border: solid 0px;
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #eeeae2;
    font-size: 18px;
}

    a {
        color:  #eeeae2; 
        text-decoration: none; 
    
}

.enlace2{
    background-color: transparent; 
    padding: 8px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: solid 0px;
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3d3b38;
    font-size: 18px;

}

   